<div style="display: flex; flex-direction: column; height: 100%;">
    <div class="title-bar" style="margin: 0;">

        <div class="title-icon-circle shadow-bottom">
            <mat-icon class="title-icon" style="width: 38px; height: 38px;">account_circle</mat-icon>
        </div>

        <div>
            <div style="margin-left: 15px; font-size: 18px; color: #3752B4;">{{data?.name}}</div>
            <div style="display: flex; align-items: center;">
                <div *ngIf="isLeaveEdit==false" style="margin-left: 15px; font-size: 12px; color: rgb(92, 92, 92);">
                    Remaining Leave: {{remNum}}</div>
                <input #qtyLeaves value="1" type="number" [hidden]="!isLeaveEdit"
                    style="width: 62px; margin-left: 10px; padding-left: 10px;">
                <div (click)="addNumLeave(qtyLeaves.value)"
                    [matTooltip]="!isLeaveEdit?'Add more leaves':'Save value to be added'" matTooltipPosition="above"
                    class="blue-button glow-bottom-blue"
                    style="width: 12px; height: 10px; margin-left: 10px; padding-top: 12px; padding-bottom: 0; padding-left: 5px; padding-right: 5px;">
                    <mat-icon style="font-size: 12px; width: 12px; height: 12x;">{{!isLeaveEdit?'add':'check'}}
                    </mat-icon>
                </div>
                <div *ngIf="isLeaveEdit==true" (click)="isLeaveEdit = false" matTooltip="Cancel adding leaves"
                    matTooltipPosition="above" class="red-button glow-bottom-red"
                    style="width: 12px; height: 10px; padding-top: 12px; padding-bottom: 0; padding-left: 5px; padding-right: 5px;">
                    <mat-icon style="font-size: 12px; width: 12px; height: 12x;">clear</mat-icon>
                </div>
            </div>
        </div>

        <div style="flex: 1; align-items: center; justify-content: center; display: flex;">
            <mat-form-field>
                <mat-label>Leave Type</mat-label>
                <mat-select [(ngModel)]="leave" (selectionChange)="onLeaveChange()">
                    <mat-option value="sick">Sick</mat-option>
                    <mat-option value="vacation">Vacation</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <button class="green-button glow-bottom-green" (click)="create()">
            <mat-icon style="font-size: 18px; width: 18px; height: 18px; margin-right: 5px; margin-left: auto;">
                person_add</mat-icon> <strong>Create Leave</strong>
        </button>

    </div>

    <div style="flex: 1; display: flex;">
        <mat-tab-group style="flex: 1;">
            <mat-tab style="height: 100%;">
                <ng-template matTabLabel>
                    <span [matBadge]="tmp_leave.length" matBadgeOverlap="false">Leave List</span>
                </ng-template>
                <div class="shadow-all"
                    style="margin: 15px; background-color: white; height: calc(100% - 30px); border-radius: 7px; display: flex; flex-direction: column;">

                    <div class="list-header-bar">
                        <div style="width: 40%;" class="list-header-text">
                            <strong>Reason</strong>
                        </div>
                        <mat-divider [vertical]="true" style="height: 75%;"></mat-divider>
                        <div style="width: 25%;" class="list-header-text">
                            <strong>Date</strong>
                        </div>
                        <mat-divider [vertical]="true" style="height: 70%;"></mat-divider>
                        <div style="flex: 1; display: flex; align-items: center;" class="list-header-text">
                            <strong>Actions</strong>
                            <button (click)="addLeave()" mat-mini-fab color="primary"
                                matTooltip="Add leave information" matTooltipPosition="above"
                                style="margin-left: auto; margin-right: 25px; width: 30px; height: 30px;">
                                <mat-icon style="font-size: 16px;">exposure_plus_1</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div style="flex: 1;">
                        <div *ngFor="let row of tmp_leave; let i = index" class="list-row-bar" style="height: 80px;"
                            [ngClass]="{'list-row-bar-gray': i%2!=0}">
                            <div style="width: 40%; margin-left: 25px;" class="list-row-text">
                                <mat-form-field style="width: 100%;">
                                    <textarea [(ngModel)]="row.reason" matInput
                                        placeholder="Reason of leave"></textarea>
                                </mat-form-field>
                            </div>
                            <div style="width: 25%; margin-left: 30px;" class="list-row-text">
                                <mat-form-field style="width: 90%;">
                                    <input [(ngModel)]="row.date" readonly matInput [matDatepicker]="picker"
                                        placeholder="Leave Date">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div style="flex: 1; display: flex; margin-left: 20px;">
                                <button class="red-button glow-bottom-red" (click)="deleteLeave(i)">
                                    <mat-icon style="font-size: 18px; width: 18px; height: 18px; margin-right: 5px;">
                                        delete</mat-icon> <strong>Delete</strong>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </mat-tab>
            <mat-tab style="height: 100%;">
                <ng-template matTabLabel>
                    <span [matBadge]="leave_record.length" matBadgeOverlap="false">Leave History</span>
                </ng-template>
                <div class="shadow-all"
                    style="margin: 15px; background-color: white; height: calc(100% - 30px); border-radius: 7px; display: flex; flex-direction: column;">

                    <div class="list-header-bar">
                        <div style="width: 40%;" class="list-header-text">
                            <strong>Reason</strong>
                        </div>
                        <mat-divider [vertical]="true" style="height: 75%;"></mat-divider>
                        <div style="width: 25%;" class="list-header-text">
                            <strong>Date</strong>
                        </div>
                        <mat-divider [vertical]="true" style="height: 70%;"></mat-divider>
                        <div style="flex: 1; display: flex; align-items: center;" class="list-header-text">
                            <strong>Actions</strong>
                        </div>
                    </div>

                    <div style="flex: 1;">
                        <div *ngFor="let row of leave_record; let i = index" class="list-row-bar" style="height: 80px;"
                            [ngClass]="{'list-row-bar-gray': i%2!=0}">
                            <div style="width: 40%; margin-left: 25px;" class="list-row-text">
                                {{row?.reason}}
                            </div>
                            <div style="width: 25%; margin-left: 25px;" class="list-row-text">
                                {{row?.sched_date | date}}
                            </div>
                            <div style="flex: 1; display: flex; margin-left: 25px;">
                                <button class="red-button glow-bottom-red" (click)="delete(row.id)">
                                    <mat-icon style="font-size: 18px; width: 18px; height: 18px; margin-right: 5px;">
                                        delete</mat-icon> <strong>Cancel</strong>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>