<div class="title-bar">

    <div class="title-icon-circle shadow-bottom">
        <mat-icon class="title-icon" style="width: 38px; height: 38px;">subject</mat-icon>
    </div>

    <div style="margin-left: 15px; font-size: 18px; color: #3752B4;">Employee List</div>

    <form class="shadow-bottom search-box" [formGroup]="formGroup" (submit)="submit()">
        <mat-icon style="width: 22px; height: 22px; margin-left: 15px; color: rgb(173, 173, 173);">search</mat-icon>
        <mat-form-field style="flex: 1; margin-left: 5px; margin-right: 5px;">
            <input formControlName="search" matInput placeholder="Search Employee" autocomplete="off">
        </mat-form-field>
        <button class="search-button">Search</button>
    </form>

    <button class="green-button glow-bottom-green" (click)="formDialog(0)">
        <mat-icon style="font-size: 18px; width: 18px; height: 18px; margin-right: 5px;">person_add</mat-icon> <strong>Create New</strong>
    </button>

</div>

<div class="shadow-all" style="margin: 15px; background-color: white; height: calc(100% - 195px); border-radius: 7px; display: flex; flex-direction: column;">

    <div class="list-header-bar">
        <div style="width: 19.5%;" class="list-header-text">
            <strong>Full Name</strong>
        </div>
        <mat-divider [vertical]="true" style="height: 75%;"></mat-divider>
        <div style="width: 17.2%;" class="list-header-text">
            <strong>Position</strong>
        </div>
        <mat-divider [vertical]="true" style="height: 75%;"></mat-divider>
        <div style="width: 10.2%;" class="list-header-text">
            <strong>Department</strong>
        </div>
        <mat-divider [vertical]="true" style="height: 70%;"></mat-divider>
        <div style="width: 10.2%;" class="list-header-text">
            <strong>Status</strong>
        </div>
        <mat-divider [vertical]="true" style="height: 70%;"></mat-divider>
        <div style="width: 10%;" class="list-header-text">
            <strong>Date Hired</strong>
        </div>
        <mat-divider [vertical]="true" style="height: 70%;"></mat-divider>
        <div style="width: 32.9%;" class="list-header-text">
            <strong>Actions</strong>
        </div>
    </div>

    <div style="overflow-y: scroll; flex: 1;">
        <div *ngFor="let row of empList; let i = index" class="list-row-bar" [ngClass]="{'list-row-bar-gray': i%2!=0}">
            <div style="width: 19.5%;" class="list-row-text">{{row.name}}</div>
            <div style="width: 17.2%" class="list-row-text">{{row.position}}</div>
            <div style="width: 10.2%; display: flex;" class="list-row-text">
                <div *ngFor="let obj of row.depts; let x = index">{{obj.name}}{{x < row.depts.length-1?'/':''}}</div>
            </div>
            <div style="width: 10.2%" class="list-row-text">{{row.status}}</div>
            <div style="width: 10%" class="list-row-text">{{row.date_employed | date}}</div>
            <div style="width: 32.9%; display: flex;">
                <button class="green-button glow-bottom-green" style="margin-left: 25px;" (click)="setLeave(row.id)">
                    <mat-icon style="font-size: 18px; width: 18px; height: 18px; margin-right: 5px;">card_travel</mat-icon> <strong>Leave</strong>
                </button>
                <button class="blue-button glow-bottom-blue" (click)="formDialog(row.id)">
                    <mat-icon style="font-size: 18px; width: 18px; height: 18px; margin-right: 5px;">edit</mat-icon> <strong>Edit</strong>
                </button>
                <button class="red-button glow-bottom-red" (click)="delete(row.id)">
                    <mat-icon style="font-size: 18px; width: 18px; height: 18px; margin-right: 5px;">delete</mat-icon> <strong>Delete</strong>
                </button>
            </div>
        </div>
    </div>

</div>