<div class="title-bar">

    <div class="title-icon-circle shadow-bottom">
        <mat-icon class="title-icon" style="width: 38px; height: 38px;">subject</mat-icon>
    </div>

    <div style="margin-left: 15px; font-size: 18px; color: #3752B4;">Employee List</div>

    <form class="shadow-bottom search-box">
        <mat-icon style="width: 22px; height: 22px; margin-left: 15px; color: rgb(173, 173, 173);">search</mat-icon>
        <mat-form-field style="flex: 1; margin-left: 5px; margin-right: 5px;">
            <input matInput placeholder="Search Employee" autocomplete="off">
        </mat-form-field>
        <button class="search-button">Search</button>
    </form>

    <button class="green-button glow-bottom-green">
        <mat-icon style="font-size: 18px; width: 18px; height: 18px; margin-right: 5px;">person_add</mat-icon> <strong>Create New</strong>
    </button>

</div>

<div class="shadow-all" style="margin: 15px; background-color: white; height: calc(100% - 195px); border-radius: 7px;">

    <div class="list-header-bar">
        <div style="width: 22.7%; margin-left: 25px; color: rgb(148, 148, 148); font-size: 16px;">
            <strong>Full Name</strong>
        </div>
        <mat-divider [vertical]="true" style="height: 75%;"></mat-divider>
        <div style="width: 19.8%; margin-left: 25px; color: rgb(148, 148, 148); font-size: 16px;">
            <strong>Position</strong>
        </div>
        <mat-divider [vertical]="true" style="height: 75%;"></mat-divider>
        <div style="width: 19.8%; margin-left: 25px; color: rgb(148, 148, 148); font-size: 16px;">
            <strong>Department</strong>
        </div>
        <mat-divider [vertical]="true" style="height: 70%;"></mat-divider>
        <div style="width: 12.3%; margin-left: 25px; color: rgb(148, 148, 148); font-size: 16px;">
            <strong>Status</strong>
        </div>
        <mat-divider [vertical]="true" style="height: 70%;"></mat-divider>
        <div style="width: 14%; margin-left: 25px; color: rgb(148, 148, 148); font-size: 16px;">
            <strong>Date Hired</strong>
        </div>
        <mat-divider [vertical]="true" style="height: 70%;"></mat-divider>
    </div>

    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <mat-cell style="flex: 0.28" *matCellDef="let row">{{row.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="position">
            <mat-cell style="flex: 0.25" *matCellDef="let row">{{row.position}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-cell style="flex: 0.16" *matCellDef="let row">{{row.status}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="hired">
            <mat-cell style="flex: 0.4" *matCellDef="let row">{{row.date_employed | date}}</mat-cell>
        </ng-container>

        <ng-container>
            <mat-cell style="flex: 0.8" *matCellDef="let row">

            </mat-cell>
        </ng-container>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>