<div class="title-bar">

    <div class="title-icon-circle shadow-bottom">
        <mat-icon class="title-icon" style="width: 38px; height: 38px;">subject</mat-icon>
    </div>

    <div style="margin-left: 15px;">
        <div style="font-size: 18px; color: #3752B4;">
            Analytic Dashboard
        </div>
        <div style="font-size: 12px;">
            In this dashboard where you will see and interact with all the notifications messages
        </div>
    </div>

</div>

<div class="shadow-all mcard-list">
    <div class="list-header-bar" style="display: flex;">
        <div style="flex: 1;" class="list-header-text">
            <strong>Employee Leave Requests</strong>
        </div>

        <div style="display: flex;" *ngIf="checkLeaveSel()">
            <button class="green-button glow-bottom-green" style="margin-left: 25px;" (click)="leaveMultiple('approve')">
                <mat-icon style="font-size: 18px; width: 18px; height: 18px; margin-right: 5px;">done</mat-icon> <strong>Approve Selected</strong>
            </button>
            <button class="red-button glow-bottom-red" (click)="leaveMultiple('cancel')">
                <mat-icon style="font-size: 18px; width: 18px; height: 18px; margin-right: 5px;">clear</mat-icon> <strong>Cancel Selected</strong>
            </button>
        </div>


    </div>
    <div style="overflow-y: scroll; flex: 1;">
        <div *ngFor="let row of leaveList" class="list-row-bar" style="margin-bottom: 5px;">
            <mat-checkbox color="primary" style="margin-left: 25px;" [(ngModel)]="row.selected"></mat-checkbox>
            <div class="blue-button glow-bottom-blue" style="margin-left: 15px; flex: 1; align-items: right; justify-content: right;">
                <strong>{{row.name}}</strong>&nbsp;-&nbsp;<em><div style="text-transform: capitalize;">{{row.stats}}</div></em>&nbsp;-&nbsp;{{row.reason}}
            </div>
            <button class="green-button glow-bottom-green" style="margin-left: 15px;" (click)="leaveSingle('approve', row.id)">
                <mat-icon style="font-size: 18px; width: 18px; height: 18px; margin-right: 5px;">done</mat-icon> <strong>Approve</strong>
            </button>
            <button class="red-button glow-bottom-red" (click)="leaveSingle('cancel', row.id)">
                <mat-icon style="font-size: 18px; width: 18px; height: 18px; margin-right: 5px;">clear</mat-icon> <strong>Cancel</strong>
            </button>
        </div>
    </div>
</div>