/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.shadow-top {
    box-shadow: 0 -5px 5px -2px rgba(70, 70, 70, 0.2);
}

.shadow-right {
    box-shadow: 5px 0 5px -2px rgba(70, 70, 70, 0.3);
}

.shadow-bottom {
    box-shadow: 0 5px 5px 1px rgba(70, 70, 70, 0.2);
}

.shadow-left {
    box-shadow: -5px 0 5px -2px rgba(70, 70, 70, 0.3);
}

.shadow-all {
    box-shadow: 0 0 10px rgba(70, 70, 70, 0.2);
}

.glow-bottom-green {
    box-shadow: 0 5px 5px 1px rgba(94, 255, 102, 0.425);
}

.glow-bottom-blue {
    box-shadow: 0 5px 5px 1px rgba(94, 169, 255, 0.425);
}

.glow-top-blue {
    box-shadow: 0 -7px 5px -1px rgba(94, 169, 255, 0.425);
}

.glow-bottom-red {
    box-shadow: 0 5px 5px 1px rgba(255, 140, 94, 0.425);
}

.title-bar{
    height: 90px;
    background-color: whitesmoke;
    margin: 15px;
    align-items: center;
    display: flex;
}

.title-icon-circle{
    background-color: rgb(255, 255, 255);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    margin-left: 15px;
}

.title-icon{
    font-size: 38px;
    color: #3752B4;
    margin: auto;
}

.search-box{
    background-color: white;
    width: 35%;
    height: 40px;
    margin: auto;
    border-radius: 20px;
    align-items: center;
    display: flex;
}

.search-button{
    width: 90px;
    height: 40px;
    background-color: rgb(82, 123, 255);
    border-radius: 20px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    border: 0;
}

.search-button:hover{
    background-color: rgb(55, 63, 180);
}

.green-button{
    height: 30px;
    background-color: rgb(110, 212, 110);
    color: white;
    border: 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 15px;
    padding: 0 20px;
    cursor: pointer;
}

.green-button:hover{
    background-color: rgb(98, 192, 98);
}

.blue-button{
    height: 30px;
    background-color: rgb(110, 163, 212);
    color: white;
    border: 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 15px;
    padding-right: 20px;
    padding-left: 15px;
    cursor: pointer;
}

.blue-button:hover{
    background-color: rgb(98, 145, 189);
}

.red-button{
    height: 30px;
    background-color: rgb(212, 110, 110);
    color: white;
    border: 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 15px;
    padding-right: 20px;
    padding-left: 15px;
    cursor: pointer;
}

.red-button:hover{
    background-color: rgb(182, 95, 95);
}

.text-red{
    color: rgb(212, 110, 110);
    text-shadow: 2px 2px rgba(255, 140, 94, 0.425);
}
.text-blue{
    color: rgb(110, 163, 212);
    text-shadow: 2px 2px rgba(94, 169, 255, 0.425);
}

.list-header-bar{
    display: flex;
    align-items: center;
    background-color: rgb(242, 247, 248);
    height: 40px;
    border-bottom: 1.5px solid rgb(241, 241, 241);
    border-top: 1px solid white;
    border-radius: 7px 7px 0 0;
}

.list-header-text{
    margin-left: 25px;
    color: rgb(148, 148, 148);
    font-size: 16px;
}

.list-row-bar{
    display: flex;
    align-items: center;
    height: 40px;
}

.list-row-bar:hover{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid rgb(178, 189, 228);
}

.list-row-bar-gray{
    background-color: rgb(235, 235, 235);
}

.list-row-text{
    font-size: 14px;
    margin-left: 23px;
    
}

.mat-tab-body-wrapper{
    flex-grow: 1;
}

.card-list{
    margin: 15px;
    background-color: white;
    height: calc(100% - 195px);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}